@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;900&display=swap');

body{
    margin: 0;
    overflow-x: hidden;
}

.row{
    text-align: center;
}

.title{
    font-family: "Montserrat";
    margin: 1%;
    padding-top: 20px;
    font-size: 4rem;
    font-weight: bold;
}