@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;900&display=swap');

.bodyy {
    background-color: #ebe6e6;
}

.container{
    width: 80%;
    margin: auto;
    text-align: center;
}

.title{
    font-family: "Montserrat";
    margin: 1%;
    padding-top: 20px;
    font-size: 4rem;
    font-weight: bold;
    color: black;
    padding: 2% 5%;
}

p{
    font-size: 2rem;
    font-weight: bold;
    padding: 1% 5%;
}

.p1{
    color: red;
}
.p2{
    color: blue;
}

h1{
    color: green;
}

.btns{
    text-align: center;
    margin-top: 8%;
}